.dog-list-wrapper{
  display: flex;
  padding: 30px;
}
.dog-list-wrapper ol{
  width:  400px;
}
.dog-list-wrapper ol li{
  cursor: pointer;
}
.image-list {
display: flex;
gap: 10px;
flex-wrap: wrap;
}
.image-list img{
  width: 400px;
  height: 400px;
  object-fit: cover;
  transition: all ease 0.3s;
}
.image-list img:hover{
 transform: scale(1.2);
 transition: all ease 0.3s;
}